<div class="card border-dark mb-3">

    <div class="card-header">
        <h4 class="card-title">ชื่อหัวข้อ: {{topicpost}}</h4>

    </div>
    <div class="card-body text-dark">
        <p class="card-text">รายละเอียด: {{ textdetail }}</p>      
    </div>
    <hr>
    <div class="card-body text-dark">
        <p class="card-text">ไอดี: {{ owner }}</p>
        <p class="card-text">เวลา: {{ timestamp }}</p>  
    </div>
    
</div>
<app-comment></app-comment>


<!-- Input Comment Field -->
<h5>แสดงความคิดเห็น</h5>
<form #comment [formGroup]="commentForm" (ngSubmit)="createComment()" class=" ml-5 mr-5" autocomplete="off">
    <!-- <div class="form-group">
                <label for="formGroupExampleInput">ชื่อหัวข้อ</label>
                <input formControlName="topicpost" type="text" class="form-control" id="topicpost" placeholder="ชื่อหัวข้อ">
            </div> -->
    <div class="form-group">
        <label for="commentFormControl">ข้อความ</label>
        <textarea formControlName="comment_text" class="form-control" id="comment_text" rows="3"
            placeholder="ข้อความ"></textarea>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">โพส</button>
    </div>
</form>